/*Estilos CSS de la p치gina*/

/*Estilos navbar*/
nav {
    background-color: rgb(13,202,240); 
    width: 100%;
    margin: auto;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: white !important;
}

.nav a {
    color: white !important;
}


/*Estilos carousel*/
.carousel {
    width: 100%;
    height: auto;
    margin: auto;
    
}
/*Estilos secci칩n quienes somos*/
.quienes-somos {
    background-color: black;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    color: white;
    padding: 2rem;
    font-family: 'Raleway', sans-serif;   
}

/*Estilos secci칩n columnas */
.columnas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: black;
    color: white;
}

.fa1, .fa2, .fa3 {
    background-color: rgb(13,202,240); 
    text-align: center;
}

/*Estilos secci칩n DESTACADOS*/
.destacados {
    background-color: black;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    color: white;
    padding: 2rem;
    font-family: 'Raleway', sans-serif;  
}

