/*Estilos CSS de la página*/



body {
    scroll-behavior: smooth;
    }

.container-fluyd {
    position: relative;
    max-width: 200rem;
    margin: auto;
    
    
}

#inicio, #quienes-somos, #destacados, #contacto {
    min-height: 8rem;  
}



/*Estilos navbar*/
nav, .navbar {
    background-color:transparent !important; 
}

.navbar-brand, .nav-link {
    color: white !important;
    font-family: 'Raleway', sans-serif;
}




nav a:hover {
    color: black !important;
    text-align: center;
}

/*Estilos carousel*/
.carousel {
    width: 100%;
    height: auto;
    margin: auto;
    
}
/*Estilos sección quienes somos*/
.quienes-somos {
    background-color: black;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;   
    ;
}

/*Estilos sección columnas */
.columnas {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    background-color: black;
    color: white;
}

.fa1, .fa2, .fa3 {
    background-color: rgb(13,202,240); 
    text-align: center;
}

/*Estilos sección DESTACADOS*/
.destacados {
    background-color: black;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    color: white;
    padding: 2rem;
    font-family: 'Raleway', sans-serif;  
}

/*Estilos sección CARDS*/
.cards {
    display: flex;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif; 
    background-color: black;
    width: 100%;
    height: 90%;

}
.card1, .card2, .card3, .card4 {
    background-color: rgb(13,202,240);
    color: white;
    margin-bottom: 4rem;
    height: 90%;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}
    
.cards h5 {
    text-align: center;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

/*Estilos sección CONTACTO*/

.contacto {
    background-color: black;
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    color: white;
    padding: 2rem;
    font-family: 'Raleway', sans-serif;  
    font-weight: 300;
}

/*Estilo sección FORMULARIO*/

.form {
    background-color: black;
    padding: 2rem;
    margin: auto;
    ;
}

.form-text {
    color: white;
    font-family: 'Raleway', sans-serif;  
    font-weight: 300;
}

.form-box {
    height: 10rem;
}

.btn-text {
    color: white;
}

/*Estilos footer*/

.footer {
    background-color: rgb(13,202,240);
    color: white;
    font-family: 'Raleway', sans-serif;  
    font-weight: 600;
    width: 100%;
    font-size: large;
    padding: 1rem
}

/*TOOLTIP*/

tooltip-box {
    background: black;
    z-index: 1000;

}